<div class="header">About Me</div>
<div class="image-container">
  <img class="about-me-photo" src="/assets/images/CV_Pic_To_Use.jpeg" alt="about_me_photo">
</div>
<div class="content">
  <h1>I'm Stan</h1>
  <h4>Software Developer</h4>

  <p>
     I'm a versatile Software Developer currently based in Bochum, Germany.
     I love learning, experiencing and discovering new things. And I also have a passion for coding! &#128640;
     I have had a lot of experience from small to big projects in the university, different companies or just doing them for fun from the comfort of my home.
     Projects that span from web, app, game to even AI development. &#128200; All of them brought me joy by letting my mind work, trying to figure out what was causing that pesky error or how I can make the code run faster and look prettier.
     I really enjoy coding riddles that get me thinking &#129504;, and when I solve them, it's the best feeling ever!
     If you have a challenge for me, bring it on and don't hesitate to contact me! &#128233;
  </p>

  <div><span>Email :</span> <a href="mailto:contact@stanimirmonevworks.com">contact@stanimirmonevworks.com</a></div>
  <div><span>Place :</span> 44892 - Bochum, Germany</div>

  <div id="downloadButtonContainer" class="download-button-container">
    <%- include('downloadButton', {id:'downloadButton', css:'download-button', text:'DOWNLOAD RESUME'}); %>
  </div>
</div>