
<%- include('tacPolicy'); %>

<br>
<hr>
<br>

<%- include('privacyPolicy'); %>

<br>
<hr>
<br>

<%- include('cookiePolicy'); %>

<br>
<hr>
<br>

<h2>Contact Us</h2>
<p>If you have any questions about these Terms and Conditions, the Privacy Policy or the Cookies Policy, You can contact us:</p>
<ul>
   <li>By email: <a href="mailto:contact@stanimirmonevworks.com">contact@stanimirmonevworks.com</a></li>
</ul>