<div id="mainNavbar" class="navbar">
	<a id="logoLink" href="/">
		<img class="logo" src="/assets/images/smworks_logo_cropped.png" alt="logo">
	</a>
	<div class="links">
		<a id="homeButton" href="/#home">Home</a>
		<a id="aboutButton" href="/#about">About</a>
		<a id="contactButton" href="/#contact">Contact</a>
	</div>
</div>