<div class="alert-box-container hidden">
  <div class="alert-box <%= css %>">
    <% if (css === 'success') { %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Eo_circle_green_checkmark.svg" alt="success" width="32" height="32">
    <% } %>
    <% if (css === 'error') {  %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/White_x_in_red_rounded_square.svg" alt="error" width="32" height="32">
    <% } %>
    <span></span>
  </div>
</div>