<div class="scores player">
  <span class="title">Player</span>
  <span class="wins">Wins: 5</span>
  <span class="loses">Loses: 2</span>
</div>
<div class="grid">
  <div class="green">X</div>
  <div>X</div>
  <div>X</div>
  <div>O</div>
  <div>O</div>
  <div>O</div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="scores bot">
  <span class="title">AI Opponent</span>
  <span class="wins">Wins: 2</span>
  <span class="loses">Loses: 3</span>
</div>