<div class="content-container">
  <div class="text-container">
    <div class="title-text">Hey There, <br> My Name Is <span>Stanimir Monev</span></div>
    <div class="typewriter-container">And I'm Into <div class="typewriter"><span class="wrap"></span></div></div>
  </div>
</div>

<div class="image-container">
  <img class="greetings-avatar" src="/assets/images/greetings_avatar.png" alt="greetings_avatar">
</div>