<div>
  <img class="main_logo" src="/assets/smworks_logo.png" alt="smworks_logo">
</div>

<div class="typewriter">
  <span class="wrap"></span>
</div>

<div class="download-button-container">
  <%- include('downloadButton', {id:'downloadButton', css:'download-button to-load hidden', text:'DOWNLOAD RESUME'}); %>
</div>