body {
  margin: 0;
}

.container {
  background: #8b8b8f;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(49, 48, 48);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header > a {
  color: #ebe3e3;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5%;
}

.header > a:hover {
  background: #53544f;
}

.header > a:link {
  text-decoration: none;  
}

.footer {
  padding: 20px;
  background: #454641;
  text-align: center;
  color: #ebe3e3;
}

.section {
  width: auto;
  height: 100px;
  padding-top: 200px;
}

.section.lam .title span {
  font-size: 50px;
}

.title {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  font-family: roboto;
}
