html {
  width: 100%;
  height: 100%;
  background: black;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.main-container {
  background: #000000;
  height: inherit;
  margin: 0 auto;
}

.header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(49, 48, 48);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header>a {
  color: #ebe3e3;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5%;
}

.header>a:hover {
  background: #53544f;
}

.header>a:link {
  text-decoration: none;
}

footer {
  bottom: 0;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  background: transparent;
  text-align: center;
  color: green;
}

.section {
  width: auto;
}

.section.index .title span {
  font-size: 50px;
  font-weight: bold;
}

.title {
  text-align: center;
  font-family: monospace;
  color: green;
}

.typewriter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 200%;
}

.typewriter>.wrap {
  border-right: 0.08em solid rgb(26, 90, 5);
  animation: blink 0.5s;
  animation-iteration-count: 6;
}

@keyframes blink {
  50% {
    border-color: black;
  }
}

nav.navbar {
  display: flex;
  align-items: center;
  float: left;
  flex-direction: column;
  position: fixed;
  height: 100%;
  background: #222;
  text-align: center;
  z-index: 1;
}

nav.navbar ul.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.navbar li.nav-item:last-child {
  padding: 24px 0;
}

nav.navbar li.nav-item a {
  display: block;
  font-size: x-large;
  color: darkgreen;
  text-decoration: none;
  padding: 24px 12px;
}

nav.navbar li.nav-item:not(:last-child):not(:first-child):hover {
  background: #000000;
  color: lightgreen;
}

.to-load {
  transition: opacity 0.75s ease-in-out;
}

.download-button.hidden {
  opacity: 0;
}

.download-button.visible {
  opacity: 1;
}

.section .section-container {
  height: fit-content;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section .section-container div {
  width: fit-content;
  margin: auto;
  color: green;
}

.download-button {
  margin-top: 100px;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  background-color: #136913;
  font-family: 'Verdana', Courier, monospace;
  color:white;
  letter-spacing: 5px;
  cursor: pointer;
}

.download-button:hover, .download-button-menu:hover {
  background-color: #0d440d;
}

.download-button .icon {
  vertical-align: bottom;
}

.download-button-menu {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #136913;
  font-family: 'Verdana', Courier, monospace;
  color:white;
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  border-radius: 6px;
  opacity: 0;
  /* Position the tooltip text - see examples below! */
  position: fixed;
  z-index: 1;
  top: 360px;
  left: 85px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.download-button-menu:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.main_logo {
  width: 420px;
  margin-bottom: 50px;
}

.header_logo {
  width: 120px;
  margin-top: 24px;
}