<label for="educationName">Name:</label>
<input type="text" id="educationName" name="educationName" placeholder="Institution Name" required>

<label for="educationDescription">Description:</label>
<textarea id="educationDescription" name="educationDescription" rows="4" placeholder="Describe your education" maxlength="100" required></textarea>

<div class="row">
  <label for="educationFrom">From:</label>
  <input type="date" id="educationFrom" name="educationFrom" required>

  <div class="tooltip">
      <input type="checkbox" id="stillStudying" name="stillStudying">
      <span class="tooltiptext">Still Studying</span>
  </div>

  <label for="educationUntil">Until:</label>
  <input type="date" id="educationUntil" name="educationUntil">
</div>

<button type="button" id="addEducationButton">Add Education</button>

<div id="educationList">
    <!-- Education entries will be displayed here -->
</div>
